@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    box-sizing: border-box;
}
*{
  text-decoration: none;
}
.App{
    width: 90%;
    margin: 0px auto;
    /* border: 1px solid #000; */
}
.header{
  text-align: center;
  margin-bottom: 10px;
}
.blog-title{
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-family: 'Righteous', cursive;
  text-shadow: 1px 1px 3px rgb(252, 205, 112);
  transform: rotate(270deg);
}
.siren{
  padding: 0;
  margin:0;
  margin-bottom: 20px;
  margin-left: 40px;
  font-weight: 400;
  font-family: 'Righteous', cursive;
  color: rgb(28, 17, 1);
  text-shadow: 60px 20px 1.2px rgb(255, 0, 21) ;
  transform: skewY(180deg);

}
/* -----------------Navbar------------ */
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  position: relative;
  justify-content: space-around;
  padding: 10px 0;
  min-width: 600px;
  padding-left: 40px;
  align-items: center;
  margin: auto;
  /* background-color: rgb(242, 247, 244); */
}
/* .navbar ul{
  margin: 0;
  padding: 0;
} */
.navbar ul li{
  list-style-type: none;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  margin-right: 100px;
  letter-spacing: 0.5px;
}
.navbar ul li a{
  color: black;
  padding:0 10px;
  position: relative;
}
.navbar ul li a:hover{
  color: rgb(255, 60, 0);
}
.navbar ul li a::after{
   content: "";
   position: absolute;
   background-color: hsla(0, 89%, 55%, 0.836);
   height: 3px;
   width: 0;
   left: 0;
   bottom:-10px;
   transition: 0.3s;
}
.navbar ul li a:hover::after{
  width: 100%;
}
/* .navbar ul li a{
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 80px;
  padding: 0 10px;
  
} */
/* .navbar ul li a:after{
  color: #609c9e;
  transition-duration: 0.3s;
} */
.navbar ul li Link::after{
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
}
.hrtag{
  width: 20px;
}
/* -----------------Blogpost------------ */
.blogMainContainer{
  width: 100%;
  height: 630px;
  /* border: 1px solid #000; */
}
.blogPostContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  
}
.postImageContainer{
  width: 70%;
  height: 650px;
  padding: 0px 30px;
  margin: 20px;
  box-sizing: border-box;
}
.postImageContainer img{
  width:100%;
  height: 600px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(239, 190, 98, 0.817);
}
.rightsidebarContainer{
  width: 27%;
  height: 780px;
  
}
.rightImg1{
  width: 100%;
  height: 780px;
}
.rightImg1 img{
  width: 100%;
  height: 278px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(239, 190, 98, 0.817);
}
.advertisement{
  height: 300px;
  width: auto;
  background-color: aqua;
}
/* ///////////////////Latestpost//////////// */
.contentBox{
  width: 100%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  color: #000;
  display: flex;
  padding: 20px 30px;
  margin-left: 50px;
  margin-bottom: 0;
  justify-content: space-between;
}
.LatestPostContainer{
  width: 70%;
  /* padding: 20px 30px; */
  box-sizing: border-box;
  margin: 0 10px;
  color: #000;
  font-family: 'Quicksand', sans-serif;
  padding: 0;
}
.LatestPostContainer:hover{
  background-color: rgba(164, 158, 158, 0.221);
  border-radius: 10px;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 1s;
}
.LatestPostContainer img{
  width:100%;
  height: 250px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(239, 190, 98, 0.817);
  transition-duration: 0.5s;
  
}
.LatestPostContainer img:hover{
  transform: translateY(-10px);
}
.postTitle{
margin-bottom: 30px;
font-family: 'Reem Kufi Ink', sans-serif;
color: #000;

}
.latestText{
  font-weight: 400;
  font-size: 2rem;
  margin: 0px 70px;
  font-family: 'Playfair Display', serif;
  color: rgb(255, 28, 28);
}
.latestArticleText{
  font-weight: 400;
  font-size: 2rem;
  margin: 15px 10px;
  font-family: 'Playfair Display', serif;
  color: rgb(4, 4, 255);
}
.postText{
  font-weight: 400;
  font-size: 2rem;
  margin: 15px 10px;
  font-family: 'Playfair Display', serif;
  color: rgb(255, 4, 71);

}
.latestArticleBox{
  width: 100%;
  /* height: 1800px; */
  /* background-color: rgb(239, 160, 160); */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  margin-top: 0px;
}
.latestArticlediv {
  width: 100%;
  /* padding: 20px 30px; */
  box-sizing: border-box;
  display: flex;
  margin: 50px 10px;
  padding: 0;
}
.latestArticlediv:hover{
  background-color: rgba(164, 158, 158, 0.221);
  border-radius: 10px;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 1s;
  box-shadow: 15px 10px 40px rgba(239, 190, 98, 0.817);
}
.leftBox { 
  width: 70%;
  margin: 0;
  /* background-color: rgb(173, 222, 84); */
}

.rightBox{
  width: 30%;
  color: #000;
  margin: 20px 0;
}
.sidearticle h3{
  font-family: 'Reem Kufi Ink', sans-serif;
  color: #000;
}
.sidearticle p{
  color: #000;
  font-family: 'Quicksand', sans-serif;

}

.sidearticle img{
  width:90%;
  height: 220px;
  margin-left: 20px;
  border-radius: 10px;
  transition-duration: 0.5s;
  box-shadow: 10px 10px 15px rgba(239, 190, 98, 0.817);
}
.sidearticle img:hover{
  transform: translateY(-10px);
}
.sidearticle:hover{
  background-color: rgba(164, 158, 158, 0.221);
  transition-property: all;
  transition-timing-function: ease;
  border-radius: 10px;
  transition-duration: 1s;
}
.lowerBox{
  width: 100%;
  box-sizing: border-box;
}
.leftBox img{
  width: 380px;
  height: 306px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(239, 190, 98, 0.817);
  transition-duration: 0.5s;
}
.leftBox img:hover{
  transform: translateY(-10px);
}
.contentdata{
  /* margin-top: 0px; */
  /* width: 1000%; */
  padding-left: 10px;
  color: #000;
  letter-spacing: 2px;
}
.contentdata h1{
  font-family: 'Reem Kufi Ink', sans-serif;
}
.contentdata p{
  font-family: 'Quicksand', sans-serif;
}
/* ////////Stories////////// */
.Lateststories{
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  padding: 0px 30px;
  justify-content: space-between;
}
/* .lateststorydiv{
  /* width: 100%;
  height: 400px;
  background-color: rgb(223, 155, 155);
  /* padding: 20px 0px; */
  /* justify-content: space-between; */

.lateststorydiv {
  width: 25%;
  margin-top: 0;
  box-sizing: border-box;
  margin: 0 10px;
  padding: 0;
}
.lateststorydiv img{
  width:100%;
 min-height: 250px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(239, 190, 98, 0.817);
}
.storycontent{
  padding-top: 10px;
}
.storycontent h1{
font-family: 'Reem Kufi Ink', sans-serif;
margin-top: 0;
padding: 0;
color: #000;

}
.latestStoriesText{
  font-weight: 400;
  font-size: 2rem;
  margin: 0px 10px;
  font-family: 'Playfair Display', serif;
  color:rgb(255, 28, 28);
}
.singlrBlogpagecon{
 display: flex;
 justify-content: space-between;
 width: 89%;
 transition-property: all;
  transition-timing-function: ease;
  transition-duration: 1s;
  box-shadow: 15px 10px 40px rgba(166, 188, 240, 0.856);
 margin: 10px 60px;
 box-sizing: border-box;
 height: 600px;
}
.singlrBlogpagecon:hover{
  background-color: rgba(164, 158, 158, 0.221);
  border-radius: 10px;
}
.singleBlogTitle{
  margin: 10px 60px;
  font-family: 'Reem Kufi Ink', sans-serif;
}
.singlrBlogpagecon img{
  width: 50%;
  height: 550px;
  border-radius: 10px;
  transition-duration: 0.5s;
  box-shadow: 15px 10px 40px rgba(239, 190, 98, 0.817);
  margin-top: 30px;
}
.singlrBlogpagecon img:hover{
  transform: translateY(-10px);
}
.singlrBlogpagecon p{
  margin: 30px 20px;
}
/* .clock{
  width: 95vw;
  height:95vh;
  overflow: hidden;
  margin-left: 500px;
}
.cock h1{
  border: 2px solid rgb(212, 156, 82);
  width: 250px;
  
} */
